<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Weather</title>
    <link rel="stylesheet" type="text/css" href="weather.css">
    <script src="weather.js"></script>
</head>
<body>

    <div id="container">
        <button type="button" onclick="populateLocationOne()" >Start</button>

        <div id="firstLocation">
            <div class="location">Location placeholder</div>
            <div class="icon">Icon placeholder</div>
            <div class="info">
                <div class="temperature">Temperature placeholder</div>
                <div class="description">Description placeholder</div>
            </div>
        </div>

</body>
</html>
